*.o
*.obj
*.out
*.dll
*.so
*.a
*.lib
*.exe
*.pdb


.vs/
.vscode/


build/
_deps/
*.d
*.dSYM
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
*.log
install_manifest.txt
.ninja_deps
.ninja_log
build.ninja

ToDo.txt
.zip

analysis/md5_comparison_results.txt
src/md5.cpp
include/md5.h

logs/*
!logs/.gitkeep

blockchain_log.txt
merkle_log.txt



